//variaveis
$fundo: #F36C37;
$fundo2: #573791;
$font-padrao: 'Montserrat', sans-serif;
$cor-font-padrao: #fff;
$icon-size: 20px;

$fundo-secundario: ".fundo-secundario";
//fim variaveis

//imports
@import url('https://fonts.googleapis.com/css?family=Montserrat');
//fim imports

body{
    font-family: $font-padrao;
    color: $cor-font-padrao;
    background: $fundo;
}

.icon{
    width: $icon-size;
    height: $icon-size;
}

.logo{
    width: 200px;
}

h1{
    a{
        $fsBase: 5rem; //mantem a proporção
        color: $cor-font-padrao;
        letter-spacing: 4px;
        line-height: $fsBase;
        text-transform: uppercase;

        span:nth-child(2){
            margin-left: -3px;
            color: $fundo;
            font-size: $fsBase + 1rem;
            font-weight: bold;
            text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
        }

        b{
            font-size: $fsBase + 1rem;
            font-weight: bold;
        }

        span:nth-child(5){
            padding: 10px 15px;
            font-size: $fsBase * 0.18;
            font-weight: bold;
            vertical-align: top;
            background: #C4572C;
        }
    }
}

#{$fundo-secundario}{
    background: $fundo2;
}

.zig-zag{
    width: 100px;
}

.etapas-processo{
    li{
        $largLi: 16%;

        position: relative;
        width: $largLi;

        div{
            display: flex;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 20px;
            font-size: 3rem;
            border: 5px solid #fff;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: $fundo;
        }

        &:not(:last-child):after{
            content: '';
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 5px;
            top: 50px;
            right: (-$largLi * 2.1);
            background: #fff;
        }
    }    
}

.footer{
    background: #2f353c;

    &-descricao-empresa{
        font-size: 14px;
        line-height: 32px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #C4572C;
}

::-webkit-scrollbar-thumb {
    background: $fundo2;
}

// ----------------------- BOTÕES
a{
    &:hover{
        color: $cor-font-padrao;
        text-decoration: none;
    }    
}

.btn{
    transition: 0.2s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(0.9);
    }
}

.btn-inscrever{
    font-size: 2rem;
    border-width: 3px;
    border-radius: 10px;

    &-fundo1{
        &:hover{
            color: $fundo;
            border-color: $fundo;
            background: $fundo2;
        }
    }

    &-fundo2{
        &:hover{
            color: $fundo2;
            border-color: $fundo2;
            background: $fundo;
        }
    }
}

.btn-alert{
    color: $cor-font-padrao;
    background: $fundo;
}
// ----------------------- FIM BOTÕES

// ----------------------- TEXTO
.text-gray{
    color: #cdcdcd;
}
// ----------------------- FIM TEXTO

// ----------------------- ILUSTRAÇÕES
#foto-moca{
    position: absolute;
    max-width: 790px;
    bottom: 0px;
    right: -50px;
}

#foto-caminho{
    position: absolute;
    z-index: -1;
    max-width: 1000px;
    width: 100%;
    top: 0px;
    left: 50%;
}

.effects-dots{
    position: absolute;
    max-width: 300px;
    width: 100%;
}
// ----------------------- FIM ILLUSTRAÇÕES

@media screen and(max-width: 1200px){
    #foto-moca{
        right: -200px;
    }
}

@media screen and(max-width: 991px){
    h1{
        a{
            $fsBase: 3rem; //mantem a proporção
            line-height: $fsBase;
    
            span:nth-child(2){
                font-size: $fsBase + 1rem;
            }
    
            b{
                font-size: $fsBase + 1rem;
            }
    
            span:nth-child(5){
                font-size: $fsBase * 0.18;
            }
        }
    }

    .etapas-processo{
        li{
            width: 30%;

            &:nth-child(3):after{
                display: none;
            }
        }
    }

    .footer{
        text-align: center;
    }

    .mobile-remove-img{
        display: none;
    }
}